---
import { getCollection } from "astro:content";

import ContentLayout from "@/layouts/ContentLayout.astro";
import PostCard from "@/components/PostCard.astro";

const posts = await getCollection("posts");
posts.sort((a, b) => new Date(b.data.created) - new Date(a.data.created));
---

<ContentLayout title="All Posts | 0x15BA88FF Logs">
    <h1 class="text-2xl md:text-4xl font-bold">All Posts Index</h1>
    <p class="mt-4 text-lg text-surface-300">Explore an index of all posts within the logs.</p>
    <hr class="my-8 border-surface-500" />
    <ul>
        {posts.length > 0 ? posts.map(post => (
            <li>
                <PostCard id={post.id} title={post.data.title} description={post.data.description} tags={post.data.tags} />
            </li>
        )) : (
            <li>
                <p class="mb-4 p-8 font-bold text-center">No Posts Found.</p>
            </li>
        )}
    </ul>
</ContentLayout>
