---
import { Github, Twitter, Linkedin, Mail, Link, Rss, ChevronUp } from "lucide-react";

const year = new Date().getFullYear();
---

<button id="scrollToTopButton" class="w-max sticky bottom-8 left-full p-2 rounded-full bg-surface-800 shadow-lg transition-transform translate-y-[200%]">
    <ChevronUp />
</button>

<footer class="flex flex-col gap-4">
    <hr class="mt-4 border-surface-500"/>
    <div class="flex flex-col gap-4 py-8">
        <p>Copyright &copy; {year}</p>
        <div class="flex justify-between">
            <div class="flex flex-wrap">
                <a href="https://github.com/0x15BA88FF" class="p-4 rounded hover:bg-surface-800 hover:text-primary-500"><Github /></a>
                <a href="https://www.linkedin.com/in/0x15ba88ff/" class="p-4 rounded hover:bg-surface-800 hover:text-primary-500"><Linkedin /></a>
                <a href="https://x.com/0x15BA88FF" class="p-4 rounded hover:bg-surface-800 hover:text-primary-500"><Twitter /></a>
                <a href="mailto:15ba88+hello@proton.me" class="p-4 rounded hover:bg-surface-800 hover:text-primary-500"><Mail /></a>
            </div>
            <a href="/logs/rss.xml" target="_blank" rel="noopener noreferrer" class="p-4 rounded hover:bg-surface-800 hover:text-primary-500"><Rss /></a>
        </div>
    </div>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const scrollToTopButton = document.getElementById("scrollToTopButton");
        const scrollToTop = _ => window.scrollTo({ top: 0, behavior: "smooth" });

        scrollToTopButton.addEventListener("click", scrollToTop);

        window.addEventListener("scroll", _ => {
            if (window.scrollY > 200) {
                scrollToTopButton.classList.remove("translate-y-[200%]");
            } else {
                scrollToTopButton.classList.remove("translate-y-[200%]");
                scrollToTopButton.classList.add("translate-y-[200%]");
            }
        });
    });
</script>
