---
import { getCollection } from "astro:content";

import PostCard from "@/components/PostCard.astro";

const { tag, max } = Astro.props;
const posts = await getCollection("posts", ({ data }) => data.tags?.includes(tag));
posts.sort((a, b) => new Date(b.data.date_created) - new Date(a.data.date_created));
---

<ul class="flex flex-col mt-4">
    {posts.length > 0 ? posts.slice(0, max).map(post => (
        <li>
            <PostCard id={post.id} title={post.data.title} description={post.data.description} tags={post.data.tags} />
        </li>
    )) : (
        <li>
            <p class="mb-4 p-8 font-bold text-center">No Posts Found.</p>
        </li>
    )}
</ul>
