---
import { Sun, Moon } from "lucide-react";
---

<button aria-label="Toggle Theme" id="theme-toggle" class="p-6 relative rounded overflow-hidden" >
    <span id="sun-icon" class="h-max absolute inset-0 flex items-center transition-all duration-500 justify-center opacity-100 dark:opacity-0 translate-y-1/2 dark:translate-y-full hover:text-primary-500">
        <Sun />
    </span>
    <span id="moon-icon" class="h-max absolute inset-0 flex items-center transition-all duration-500 justify-center opacity-0 dark:opacity-100 -translate-y-full dark:translate-y-1/2 hover:text-primary-500">
        <Moon />
    </span>
</button>

