---
import "@fontsource-variable/jetbrains-mono";
import "@/styles/global.css";

const { title, cssclasses } = Astro.props;
---

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/svg+xml" href="/logs/favicon.png" />
        <meta name="generator" content={Astro.generator} >
        <link rel="sitemap" href="/logs/sitemap-index.xml" />
        <meta charset="UTF-8">
        <title>{title}</title>
    </head>
    <body class={`min-h-screen flex text-surface-50 bg-surface-900 overflow-y-scroll ${cssclasses ? cssclasses : ""}`}>
        <slot />
    </body>
    <script>import "@/scripts/controlTheme.js";</script>
</html>
