---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

const { title, cssclasses } = Astro.props;
---

<BaseLayout title={title} cssclasses={cssclasses}>
    <div class="w-full max-w-3xl mx-auto px-4">
        <Header />
        <section class="min-h-screen p-2">
            <slot />
        </section>
        <Footer />
    </div>
<BaseLayout/>
